// main
main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0 30px rgba(0, 0, 0, 0.1), -30px 0 30px rgba(0, 0, 0, 0.1);

  #landing {
    background: $clr-white;

    &-text {
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 1rem;

      &-inner {
        h2 {
          color: $clr-gray;
        }

        a {
          display: inline-block;
          border: 1px solid $clr-lineborder;
          border-radius: 50px;
          color: $clr-darkgray;
          padding: 0.5rem 2rem;
          margin: 2rem;

          // hover effect
          transition: background 500ms ease-in;

          &:hover {
            background: $clr-lightgray;
          }
        }
      }
    }

    &-image {
      height: 50vh;
      background: url("https://source.unsplash.com/De8wMYoSSBc") no-repeat
        center;
      background-size: cover;
    }
  }

  #images {
    #header {
      background: $clr-darkgray;
      color: $clr-white;
      text-align: center;
      padding: 1.5rem;

      h2 {
        display: inline-block;
        border-left: 1px dotted $clr-white;
        border-right: 1px dotted $clr-white;
        padding: 0 1rem;
      }
    }
  }
}
